name: Pyright Lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Pyright Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python environment
        uses: ./.github/actions/setup-python

      - run: |
          echo "$(dirname $(uv python find))" >> $GITHUB_PATH
        shell: bash

      - name: Run Pyright
        uses: jakebailey/pyright-action@v2
        with:
          pylance-version: latest-release
